h5py
tensorflow==2.9.*
tensorflow-io==0.26.0
tensorflow-addons
tensorflow_probability==0.17.0
multiprocess
keras_tuner==1.1.2
kerastuner_tensorboard_logger
simple_slurm
scipy
pyts
tqdm
matplotlib
CSIKit
numpy==1.20.*
scikit-learn==1.1.*
opencv-python
numba
pandas
